body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	display: block;
	width: 1024px;
	height: 1024px;
}

circle {
	stroke: white;
	fill: none;
	stroke-dasharray: 141;
	stroke-dashoffset: 0;
	stroke-width: 8px;
	animation: tumble 1s linear 0s infinite;
}

@keyframes tumble {
	from { stroke-dashoffset: 0; }
	to { stroke-dashoffset: 282; }
}
